.mar-to-4
{
	margin-top: 40px;
}
.mar-to-25-neg
{
    margin-top:-25px;
}
.mar-to-15
{
    margin-top:15px;
}
.mar-bu-4
{
	margin-bottom: 40px;
}
.en-pre-deta
{
	font-family: 'Dosis', sans-serif;
	color: #ea7066;
	font-size: 25px;
	text-align: justify;
	margin: 5px;
}
.en-res-ce-deta
{
	font-family: 'Dosis', sans-serif;
	color: rgb(102,35,131);
	margin: 10px;
	font-size: 30px;
	text-align: center;
}
.en-res-ab-deta
{
	font-family: 'Dosis', sans-serif;
	color: rgb(102,35,131);
	margin: 10px;
	font-size: 20px;
	text-align: justify;
}
.wi-fron-hea
{
	width: 84%;
}
.fl-rig-front
{
	float: right !important;
}
.fl-cen-front
{
	margin-left:60% !important;
}
.mar-bu-5
{
	margin-bottom: 10px; 
}
.nav-drop-solu 
{
    width: 151px;
    margin-top: 5px;
}
.letter-big
{
    font-size:35px;
}
.letter-mid
{
    font-size:28px;
}

.cuenta 
{
    display:block;
    position: absolute;
    top: 16px;
    right: 9px;
    z-index: 1999;
}
.cuentadesplegable 
{
    left: -50px !important;
}
.reja-nav
{
    display:none;
}

.nav-logo-letra-res
{
    display:none;
}

@media(max-width:830px) {
    .cuenta
    {
        display:none;
    }
}

@media(max-width:767px) 
{
    .reja-nav 
    {
        display:block;
        position: absolute;
        right: 10px;
        top: 0;
    }
    .nav-logo-letra-res
    {
        display:block;
    }
}

.text-dark {
    color: #005480;
}

.separador {
    margin-top: -1%;
    border-top: 1px solid #979797;
}

.separador-secciones-dark-1-pu {
    margin-top: -1px;
    height: 5px;
    background-color: #adadad;
    margin-left: 14px;
}

.separador-secciones-dark-2-pu {
    border-top: 1px solid #979797;
}

.separador-secciones-dark-3-pu {
    border-top: 2px solid #adadad;
    margin-left: 14px;
}




