﻿/*encabezado de la sección de listas*/
.ms-paper > .row .ms-paper-menu-left-container .ms-paper-menu-left .ms-paper-menu-title {
    background-color: #005480;
    color: #fff;
}

/*opciones de la sección de listas*/
.nav.nav-stacked .list-group-item.active, .list-group .list-group-item.active {
    /*no aplica el hover*/
    color: #fff;
    background-color: #005480;
}

/*Hover de las opciones de la sección de listas*/
    .nav.nav-stacked .list-group-item.active:hover, .nav.nav-stacked .list-group-item.active:focus, .list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
        background-color: #006099;
    }

/*Fondo de la barra de navegación*/
.ms-navbar, .ms-lead-navbar {
    background-color: #005480;
}

/*Hover de las opciones de la barra de navegación*/
.ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:before, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:before {
    background-color: #006099;
}

/*Fondo de la opción seleccionada de la barra de navegación*/
.ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item > a:before, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item > a:before {
    background-color: #ebebeb;
}

/*Hover de letra de la opción seleccionada de la barra de navegación cuando la opción es multiple*/
.ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown.show > a, .ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown.show > a:hover, .ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown.show > a:focus, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item.dropdown.show > a, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item.dropdown.show > a:hover, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item.dropdown.show > a:focus {
    color: #005480;
}

/*Hover de letra de la opción seleccionada de la barra de navegación cuando la opción es única*/
.ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item > a:hover, .ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item > a:focus, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item > a:hover, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item > a:focus {
    color: #005480;
}

/*Hover del navegador*/
.ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:hover, .ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:focus, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:hover, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:focus {
    color: #fff;
    background-color: #005480;
}

/*Color de las letras del navegador*/
.ms-header-white + .ms-navbar-primary .navbar-collapse .navbar-nav .nav-item > a, .ms-header-primary + .ms-navbar-white .navbar-collapse .navbar-nav .nav-item > a {
    color: #fff;
}

/*botón cuenta*/
.btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .btn-group-raised .btn.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, .btn-group-raised .input-group-btn .btn.btn-primary {
    background-color: #005480;
    color: rgba(255,255,255,.84);
}

/*Hover del botón cuenta*/
.btn.btn-raised:not(.btn-link):hover.btn-primary, .btn.btn-raised:not(.btn-link):focus.btn-primary, .btn.btn-raised:not(.btn-link).active.btn-primary, .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .btn:not(.btn-link):hover.btn-primary, .btn-group-raised .btn:not(.btn-link):focus.btn-primary, .btn-group-raised .btn:not(.btn-link).active.btn-primary, .btn-group-raised .btn:not(.btn-link):active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary {
    background-color: #005480;
}

/*Fondo del encabezado*/
.ms-header {
    background-color: #ebebeb;
}

