﻿﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Proyecto Base Ozelot Technologies.</title>
    <meta name="description" content="Acceso al portal Ozelot">
    <link rel="shortcut icon" href="~/assets/img/favicon.png?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/assets/css/preload.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins.min.css">
    <link rel="stylesheet" href="~/assets/css/style.blue-800.min.css">
    <!--[if lt IE 9]>
        <script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>

            </div>
        </div>
    </div>
    <div class="bg-full-page ms-hero-img-keyboard ms-hero-bg-primary ms-bg-fixed back-fixed">
        <div class="absolute-center">
            <div class="container">
@RenderBody()
<p class="lead lead-sm text-center mt-4 color-medium animated fadeInUp animation-delay-16">Ozelot Technologies @DateTime.Now.Year.</p>
</div>
</div>
</div>
<script src="~/assets/js/plugins.min.js"></script>
<script src="~/assets/js/app.min.js"></script>
<script src="~/assets/js/coming.js"></script>
<script src="~/js/plugin/jquery-validate/jquery.validate.js"></script>
<script src="~/js/plugin/jquery-validate/jquery.validate.min.js"></script>
<script src="~/js/plugin/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
