﻿<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->


<nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
    <div class="container container-full">

        <div class="nav-logo-letra-res">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <!-- <img src="~/assets/img/demo/logo-navbar.png" alt=""> -->
                    <img src="assets/img/demo/logo-chico.png" alt="" style="height: 40px;">
                    <img src="assets/img/demo/Recurso-3.png" alt="" style="height: 40px;">
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="navbar-nav">
               

                    <li class="nav-item dropdown">
                        <a asp-controller="Home" asp-action="Index" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" role="button" aria-haspopup="true" aria-expanded="false" data-name="blog" title="Inicio">
                            Index
                        </a>

                    </li>
                 

               
            </ul>
        </div> <!-- Fin del nav agregado-->
        <div class="reja-nav">
            <a href="#slidebar-menu" class="ms-toggle-left btn-navbar-menu">
                <i class="zmdi zmdi-menu"></i>
                <div class="ripple-container"></div>
            </a>
        </div>
    </div>
    <!-- container -->
</nav>

<!-- Cuenta -->
@if (User.Identity.IsAuthenticated)
{
    <div class="pull-right cuenta">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-account"></i>Mi cuenta
                <i class="zmdi zmdi-chevron-down right only"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right cuentadesplegable">
                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="dropdown-header">@User.Identity.Name</li>
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Cerrar sesi&oacute;n</a></li>
                }
                else
                {
                    <li class="dropdown-header">@User.Identity.Name</li>
                    @*<li><a class="dropdown-item" asp-controller="Home" asp-action="Perfil">Mi perfil</a></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangePassword">Cambiar contrase&ntilde;a</a></li>*@
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Cerrar sesi&oacute;n</a></li>
                }
            </ul>
        </div>
    </div>
}
<!-- Cuenta -->
<!-- ms-site-container -->
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="ms-slidebar-login">
                    <a asp-controller="Account" asp-action="Logout" class="withripple">
                        <i class="zmdi zmdi-account"></i> Cerrar sesi&oacute;n
                    </a>
                </div>
            }
            <div class="ms-slidebar-title">
                <div class="ms-slidebar-t">
                    <span class="ms-logo ms-logo-sm">OT</span>
                    <h3>
                        <span>Ozelot | Technologies</span>
                    </h3>
                </div>
            </div>
        </header>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
                <li class="card" role="tab" id="sch1">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false" aria-controls="sc1">
                        <i class="zmdi zmdi-home"></i> Tablero
                    </a>
                    <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1" data-parent="#slidebar-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Home">Index</a>
                        </li>
                    </ul>
                </li>

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch2">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false" aria-controls="sc2">
                            <i class="fa fa-map-marker"></i> Ubicaciones
                        </a>
                        <ul id="sc2" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch2" data-parent="#slidebar-menu">
                            <li>
                                <a asp-action="Estados" asp-controller="Home">Estados</a>
                                <a asp-action="Municipios" asp-controller="Home">Municipios</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch3">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc3" aria-expanded="false" aria-controls="sc3">
                            <i class="fa fa-user"></i> Personas
                        </a>
                        <ul id="sc3" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch3" data-parent="#slidebar-menu">
                            <li>
                                <a asp-action="FuncionariosEstatales" asp-controller="Home">Funcionarios Estatales</a>
                                <a asp-action="FuncionarioMunicipal" asp-controller="Home">Funcionarios Municipales</a>
                                <a asp-action="PersonasFisicas" asp-controller="Home">Personas F&iacute;sicas</a>
                                <a asp-action="RepresentantesLegales" asp-controller="Home">Representantes Legales</a>
                                <a asp-action="Cargos" asp-controller="Home">Cargos</a>
                                <a asp-action="Roles" asp-controller="Home">Roles</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch4">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc4" aria-expanded="false" aria-controls="sc4">
                            <i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i> Tr&aacute;mites
                        </a>
                        <ul id="sc4" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch4" data-parent="#slidebar-menu">
                            <li>
                                <a asp-action="Giros" asp-controller="Home">Giros</a>
                                <a asp-action="SectoresEconomicos" asp-controller="Home">Sectores Econ&oacute;micos</a>
                                <a asp-action="SubSectoresEconomicos" asp-controller="Home">SubSectores Econ&oacute;micos</a>
                                <a asp-action="CostoTramites" asp-controller="Home">Costos</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch5">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc5" aria-expanded="false" aria-controls="sc5">
                            <i class="zmdi zmdi-store-24 zmdi-hc-fw"></i> Empresas
                        </a>
                        <ul id="sc5" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch5" data-parent="#slidebar-menu">
                            <li>
                                @if (!User.IsInRole("PersonaFisica") && !User.IsInRole("RepresentanteLegal"))
                                {
                                    <a asp-action="Servicio" asp-controller="Home">Servicios</a>
                                }
                                <a asp-action="Establecimientos" asp-controller="Home">Establecimientos</a>
                                <a asp-action="Empresa" asp-controller="Home">Empresas</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch6">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc6" aria-expanded="false" aria-controls="sc6">
                            <i class="zmdi zmdi-collection-text zmdi-hc-fw"></i> Documentos
                        </a>
                        <ul id="sc6" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch6" data-parent="#slidebar-menu">
                            <li>
                                <a asp-action="Requisitos" asp-controller="Home">Requisitos</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch7">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc7" aria-expanded="false" aria-controls="sc7">
                            <i class="zmdi zmdi-city zmdi-hc-fw"></i> Elementos
                        </a>
                        <ul id="sc7" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch7" data-parent="#slidebar-menu">
                            <li>
                                <a asp-action="Dependencias" asp-controller="Home">Dependencias</a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                {
                    <li class="card" role="tab" id="sch9">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#sc9" aria-expanded="false" aria-controls="sc9">
                            <i class="zmdi zmdi-city zmdi-hc-fw"></i> Publicaciones
                        </a>
                        <ul id="sc9" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch9" data-parent="#slidebar-menu">
                            <li>
                                <a asp-action="Categorias" asp-controller="Home">Categorías</a>
                                <a asp-action="Etiquetas" asp-controller="Home">Etiquetas</a>
                            </li>
                        </ul>
                    </li>
                }

                <li class="card" role="tab" id="sch8">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#sc8" aria-expanded="false" aria-controls="sc8">
                        <i class="mr-2 fa fa-user"></i> Mi Perfil
                    </a>
                    <ul id="sc8" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch8" data-parent="#slidebar-menu">
                        @if (User.IsInRole("Administrador") || User.IsInRole("Root"))
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Logout">Cerrar sesi&oacute;n</a>
                            </li>
                        }
                        else
                        {

                        }
                    </ul>
                </li>
            </ul>
        }
    </div>
</div>
<script>
    $('#hov').hover(
        function () { $('#right').addClass('invisible') }

    )
    $(function () {

        $('#hov').mouseleave(function () {
            $('#right').removeClass('invisible');
        });
    });
</script>
<!-- END NAVIGATION -->

<script src="~/js/libs/jquery-3.2.1.js"></script>
<script src="~/js/Notificaciones.js"></script>




<script>
    function rend1q() {
        var x = document.getElementById("rend1").getAttribute("aria-expanded");
        if (x == "true") {
            x = "false"
        } else {
            x = "true"
        }
        busqueda();

    }

</script>